		@font-face {
			font-family: Delicious;
			src: url('Delicious-Roman.otf');
		}
		@font-face {
			font-family: Delicious, Arial;
			font-weight: bold;
			src: url('Delicious-Bold.otf');
		}
		#return { 
			font-family: Delicious, Arial; 
			font-size: 19px; 
			font-weight: bold; padding: 5px; 
			position:absolute; 
			left: 0; top: 0; 
			background: black; 
			color: White; 
		}
		#return a { color: White; }
	
		.miniheader { 
			font-weight: normal; font-size: 12px; }
		.microheader { 
			font-weight: normal; font-size: 10px; }